<% provide(:title, "About") %>
<h1 style="color: red; border-bottom: 5px solid blue; border-top: 5px solid blue; font-style: italic; background: none repeat scroll 0% 0% aliceblue;">about</h1>
<p>
  about the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/about">about page</a>.
</p>