<% provide(:title, "Home") %>
<h1 style="color: red; border-bottom: 5px solid blue; border-top: 5px solid blue; font-style: italic; background: none repeat scroll 0% 0% aliceblue;">Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>


